@use "sass:color";
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "uplot/dist/uPlot.min.css";

@include bulma.from(bulma.$desktop) {
  html {
    overflow-y: hidden;
  }
}

#SJVAirMonitorMap {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.leaflet-lvl2evStations-pane {
  .marker-cluster-small, 
  .marker-cluster-medium,
  .marker-cluster-large,
  .leaflet-oldie .marker-cluster-small,
  .leaflet-oldie .marker-cluster-medium,
  .leaflet-oldie .marker-cluster-large {
    background-color: color.scale($sjvair-main, $alpha: -40%);

    div {
      @extend .has-text-white;
      background-color: $sjvair-main;
    }
  }
}

.leaflet-lvl3evStations-pane {
  .marker-cluster-small, 
  .marker-cluster-medium,
  .marker-cluster-large,
  .leaflet-oldie .marker-cluster-small,
  .leaflet-oldie .marker-cluster-medium,
  .leaflet-oldie .marker-cluster-large {
    background-color: color.scale($pantone-blue-light, $alpha: -40%);

    div {
      @extend .has-text-white;
      background-color: $pantone-blue-light;
    }
  }
}

.leaflet-ev-icon {
  @extend .has-text-white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $pantone-blue-light;
  border: 2px solid color.scale($pantone-blue-light, $lightness: -20%);
  border-radius: 50%;

  &.light {
    background-color: $sjvair-main;
    border: 2px solid color.scale($sjvair-main, $lightness: -20%);
  }

  span {
    font-size: 22px;
  }
}

.leaflet-ev-tooltip {
  padding: 0;
  border: none;

  .leaflet-popup-content-wrapper {
    padding: 0;

    .leaflet-popup-content {
      margin: 0;

      & p {
        margin: 0;
      }

      .tooltip-header {
        background-color: $sjvair-main;
        padding: 1em 4px .5em 4px;
        border-radius: 12px 12px 0 0;
      }

      .ev-details {
        gap: 1em;
      }
    }
  }

  a.leaflet-popup-close-button {
    color: bulma.$white;
  }
}

.u-series {
  user-select: none;
}

.sjvair-map-marker {
  outline: none;
}

.spin {
  animation: spinner 1s linear infinite;
}

.has-text-silver {
  color: darken(#aaa9ad, 15%) !important;
}

.road-svg {
  background-color: bulma.$black;
  -webkit-mask: url(./assets/road.svg) center/1rem 1rem no-repeat;
  mask: url(./assets/road.svg) center/1rem 1rem no-repeat;
  width: 25px;
  height: 25px;
}

.fullscreen-svg {
  background-color: bulma.$black;
  -webkit-mask: url(./assets/fullscreen.svg) center/0.9rem 0.9rem no-repeat;
  mask: url(./assets/fullscreen.svg) center/0.9rem 0.9rem no-repeat;
  width: 25px;
  height: 25px;
}

.crosshairs-svg {
  background-color: bulma.$blue;
  -webkit-mask: url(./assets/crosshairs-solid.svg) center/1rem 1rem no-repeat;
  mask: url(./assets/crosshairs-solid.svg) center/1rem 1rem no-repeat;
  width: 25px;
  height: 25px;
}

.crosshairs-svg-lg {
  background-color: bulma.$blue;
  -webkit-mask: url(./assets/crosshairs-solid.svg) center/80px 80px no-repeat;
  mask: url(./assets/crosshairs-solid.svg) center/80px 80px no-repeat;
  width: 80px;
  height: 80px;
}

.marker-selected {
  filter: drop-shadow(2px 2px 4px rgba($sjvair-main, .6)) drop-shadow(-2px -2px 4px rgba($sjvair-main, .6)) drop-shadow(-2px 2px 4px rgba($sjvair-main, .6)) drop-shadow(2px -2px 4px rgba($sjvair-main, .6));
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
