@import "leaflet/dist/leaflet.css";
@import "uplot/dist/uPlot.min.css";

@include bulma.from(bulma.$desktop) {
  html {
    overflow-y: hidden;
  }
}

#SJVAirMonitorMap {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.leaflet-div-icon {
  background-color: transparent;
  border: none;
}

.u-series {
  user-select: none;
}

.sjvair-map-marker {
  outline: none;
}

.spin {
  animation: spinner 1s linear infinite;
}

.has-text-silver {
  color: darken(#aaa9ad, 15%) !important;
}

.road-svg {
  background-color: bulma.$black;
  -webkit-mask: url(./assets/road.svg) center/1rem 1rem no-repeat;
  mask: url(./assets/road.svg) center/1rem 1rem no-repeat;
  width: 20px;
  height: 20px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
