@use "sass:color";
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "uplot/dist/uPlot.min.css";

@include bulma.from(bulma.$desktop) {
  html {
    overflow-y: hidden;
  }
}

#SJVAirMonitorMap {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.marker-cluster-small, 
.marker-cluster-medium,
.marker-cluster-large,
.leaflet-oldie .marker-cluster-small,
.leaflet-oldie .marker-cluster-medium,
.leaflet-oldie .marker-cluster-large {
  background-color: rgba(62, 142, 208, 0.6);

  div {
    @extend .has-text-white;
    background-color: rgb(62, 142, 208);
  }
}

.leaflet-div-icon {
  @extend .has-text-white;
  background-color: rgb(62, 142, 208);
  border: 2px solid color.scale(rgb(62, 142, 208), $lightness: -20%);
  border-radius: 50%;

  span {
    font-size: 23px;
  }
}

.u-series {
  user-select: none;
}

.sjvair-map-marker {
  outline: none;
}

.spin {
  animation: spinner 1s linear infinite;
}

.has-text-silver {
  color: darken(#aaa9ad, 15%) !important;
}

.road-svg {
  background-color: bulma.$black;
  -webkit-mask: url(./assets/road.svg) center/1rem 1rem no-repeat;
  mask: url(./assets/road.svg) center/1rem 1rem no-repeat;
  width: 20px;
  height: 20px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
